/*----TODO----

--UI Styling--
Remove underlines from links
*/

a {
  text-decoration: none
}

/*
Set fonts and colors.

--Structural Styling--
Set Animation.

Build flex container.
#container {
}
*/

.bottom, .top {
  white-space: nowrap;
  width: 200vw;
  
}

.flexScroll{
  display:inline;
  overflow: hidden;
}

.bite {
  display: inline;
  max-width: 500px;
  margin: 10px;
}


/*
#topFront.bite, #bottomFront.bite{
  background-color: lightblue;
}

#topBack.bite, #bottomBack.bite {
  background-color: red;
}
*/

/*
Enable flex on flexScrolls.

Set max-widths and ellipses ::after(?).*/
